<html>
<head>

</head>
<body>
    <div class="container">
        <h1>Find and Replace</h1>
        <form action="/phrase-output-form" method="post">
            <label for="phrase">Enter a phrase</label>
            <input type="text" name="phrase" id="phrase">
            <label for="search_term">Enter a word to search for</label>
            <input type="text" name="search_term" id="search_term">
            <label for="replace_term">Enter a word to replace the search term</label>
            <input type="text" name="replace_term" id="replace_term">
            <button type="submit" name="button">Go!</button>
        </form>
    </div>

</body>
</html>
